{{ define "title" }}Rhabdom{{ end }}


{{ define "content" }}

<ul class="pagination">
{{if .Page.HasPrev}}
  <li><a href="/?page={{.Page.PrevPage}}">&laquo;</a></li>
{{end}}
  <li class="active"><span>{{.Page.PageNumber}}</span></li>
{{if .Page.HasNext}}
  <li><a href="/?page={{.Page.NextPage}}">&raquo;</a></li>
{{end}}
</ul>

{{range .Posts}}
<h3>{{.Title}}</h3>
<div class="embed video-player">
<iframe class="youtube-player" type="text/html"
    width="640" height="385" 
    src="http://www.youtube.com/embed/{{.YoutubeID}}"
    allowfullscreen frameborder="0">
</iframe>
</div>
{{end}}

<ul class="pagination">
{{if .Page.HasPrev}}
  <li><a href="/?page={{.Page.PrevPage}}">&laquo;</a></li>
{{end}}
  <li class="active"><span>{{.Page.PageNumber}}</span></li>
{{if .Page.HasNext}}
  <li><a href="/?page={{.Page.NextPage}}">&raquo;</a></li>
{{end}}
</ul>
{{end}}

